<details>
  <summary class="flex flex-row items-center gap-3">
    <span>▶</span>
    <h1 class="text-center text-3xl font-bold my-5">Add or update media item</h1>
  </summary>
<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="mb-5">
    <ul class="flex flex-col gap-6">
      <label  class="grid grid-cols-3 grid-flow-col gap-4 relative capitalize items-center">
        <span class="col-span-1">name:</span>
        <input type="text" name="name" class="py-3 col-span-2 px-2 rounded-md ring-2 ring-slate-400/40" formControlName="name">
        @if(form.get('name')?.hasError('pattern')){
          <small class="absolute -bottom-5 right-0 text-red-500" >
            Name has invalid character
          </small>
        }
      </label>
      <label for="medium" class="grid grid-flow-col grid-cols-3 gap-4 items-center capitalize">
        <span>medium</span>
        <select name="medium" class="py-3 col-span-2 px-2 rounded-md ring-2 ring-slate-400/40" formControlName="medium">
          @for(medium of lookupLists.medium; track $index ){
            <option [value]="medium">{{ medium }}</option>
          }
        </select>
        
      </label> 
      <label class="grid grid-flow-col relative grid-cols-3 gap-4 items-center capitalize">
        <span class="col-span-1">year</span>
        <input type="text" class="py-3 col-span-2 px-2 rounded-md ring-2 ring-slate-400/40" formControlName="year"/>
        @if(form.get('year')?.hasError('invalidYear')){
          <small class="absolute -bottom-5 right-0 text-red-500" >
            Must be between 1900 to 2023
          </small>
        }
      </label>
      <label class="grid grid-flow-col grid-cols-3 gap-4 items-center capitalize">
        <span class="col-span-1">genre</span>
        <select name="genre" class="py-3 col-span-2 px-2 rounded-md ring-2 ring-slate-400/40" formControlName="category">
          @for(genre of lookupLists.genre; track $index ){
            <option [value]="genre">{{ genre }}</option>
          }
        </select>
      </label>
      <button type="submit" [disabled]="!form.valid" class="py-3 px-2 disabled:bg-slate-400 capitalize font-semibold bg-green-300 rounded-md transition-all ease-in-out duration-500 text-slate-800 hover:ring-4 hover:ring-green-400/40">submit</button>
    </ul>
  </form>
</details>
